---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Page Not Found"><section class="not-found"><b>404</b><h1>Page Not Found</h1><p>The requested page may have moved or no longer exists.</p><a class="button" href="/">Return Home</a></section></BaseLayout>
